<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="/main.css/">
    <link rel="stylesheet" href="/motorcycles.css/">
    <link rel="stylesheet" href="/login.css/">

</head>
<body>

<div th:replace="fragments.html :: logo" ></div>
<div th:replace="fragments.html :: menu" ></div>
<div id = "content">

    <p>mail: bjotec@gmail.com</p>
    <p>Joteć</p>
    <p>Zielona 4</p>
    <p>95-082 Dobroń</p>

</div>
<div id = "stopka"> &copy;Bjotec 2021
</div>


</body>
</html>
